/*--------------------------------------------------------------------------------------------------------------*/
/*	00.	CSS Reset
/*--------------------------------------------------------------------------------------------------------------*/
   
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, 
small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;  
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

img { vertical-align: top; } /* Removes the space below an image in a div */

a img { border:none; } /* Removes image link border in IE */

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

strong { font-weight: bold; font-size: 24px;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*	01.	GLOBAL
/*--------------------------------------------------------------------------------------------------------------*/

body{
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
.container { 
	width: 100%;
	border-top: 5px solid #f19317;

}

.container:after {
	content: "";
	display: table;
	clear: both;
}


/*--------------------------------------------------------------------------------------------------------------*/
/*	02.	GRID
/*--------------------------------------------------------------------------------------------------------------*/

.col-02, .col-03, .col-04, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 { 
	margin: 0 20px; 
	float: left;
}

.col-02 { width: 160px; }
.col-03 { width: 260px; }
.col-04 { width: 360px; }
.col-05 { width: 460px; }
.col-06 { width: 560px; }
.col-07 { width: 660px; }
.col-08 { width: 760px; }
.col-09 { width: 860px; }
.col-10 { width: 960px; }
.col-11 { width: 1060px; }
.col-12 { width: 1160px; }


/*--------------------------------------------------------------------------------------------------------------*/
/*	03.	HEADER / NAV
/*--------------------------------------------------------------------------------------------------------------*/

header { 
	background-color: #fff;
	position: relative;
	height: 110px;

}

header ul { 
	float: right;
	height: 110px;
	margin-top: 0;
}


header a{
	text-decoration: none;	
}
header hr{
	background-color: #f5f5f5;
}
.arrow-down {
	position: relative;
	top: 15px;
	left: 10px; 
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}
.fadein img{
	max-width: 100% !important;
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
header .mobile-menu{
	position: absolute !important;
	top: 45px !important;
	right: 20px !important;
}  
.logo{
	width: 98px;
	padding: 15px 0 0 60px
}


#top-nav li{
	display: inline;
	height: 100%;
}
#top-nav li a{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: #444;
	vertical-align: super;

}


/*--------------------------------------------------------------------------------------------------------------*/
/*	03.	HERO
/*--------------------------------------------------------------------------------------------------------------*/


#slideshow { 
    position: relative; 
    height: 480px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow img{
	width: 100%;
	height: 480px;
}
#slideshow > div { 
 	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px;
}





/*--------------------------------------------------------------------------------------------------------------*/
/*	04.	MAIN / CONTENT
/*--------------------------------------------------------------------------------------------------------------*/

main { 
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0 100px 0;
	position: relative;
}

main:after {
	content: "";
	display: table;
	clear: both;
}

main h2 { 
	font-family: "proxima-nova", sans-serif;
	font-weight: 100;
	font-size: 48px;
	margin: 0 0 35px -4px;
}

main img { 
	margin-right: 40px;
	float: left; 
}

main p { 
	font-family: "proxima-nova", sans-serif;
	font-weight: 300;
	font-size: 19px;
	line-height: 35px;
	color: #969696;
	width: 770px;
	margin: -8px 40px 0 0;
	float: left;
}


.content_pic{
	border: 3px solid #fff; 
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	width: 300px;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*	04.	FOOTER
/*--------------------------------------------------------------------------------------------------------------*/

footer { 

	background: url(../images/oliva.png) repeat;
	padding: 20px 0 30px 0;
	height: 75px;
	padding-top: 30px;
	padding-left: 80px; 
}

footer div:after {
	content: "";
	display: table;
	clear: both;
}

footer .footer-links {
	font-family: "proxima-nova", sans-serif;
	width: 551px;
	color: #969696;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	border-right: 2px solid #999;

}
.footer-links span{
	color: #999;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding: 20px;
}


.footer-links a{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
	text-decoration: none;
}
.footer-links span:hover{
	color: #fff;	

	-webkit-transform: rotate(360deg);
 	-moz-transform: rotate(360deg);
 	transform: rotate(360deg);
  
	/*Transition*/
 	-webkit-transition: transform .4s;
 	-moz-transition: transform .4s;
 	-o-transition: transform .4s;
  	transition: transform .4s;
}

.form_address{
	margin-top: 16px;
	font-size: 22px;
	width: 529px;
	float: right;
	color: #999;
	font-family: "proxima-nova", sans-serif;
}





/*--------------------------------------------------------------------------------------------------------------*/
/*	04.	FONT ICONS
/*--------------------------------------------------------------------------------------------------------------*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tczqqq');
	src:url('fonts/icomoon.eot?#iefixtczqqq') format('embedded-opentype'),
		url('fonts/icomoon.woff?tczqqq') format('woff'),
		url('fonts/icomoon.ttf?tczqqq') format('truetype'),
		url('fonts/icomoon.svg?tczqqq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




#moodular {
	overflow: hidden;
}
#moodular, #moodular li {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}




/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/
.menu-container{

	padding-top: 50px;
	margin-right: 60px;
	margin-left: 60px;
}
.menu-container ul{
	padding-right: 50px;
	padding-bottom: 50px;
}
.menu-header{
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	text-align: center !important;
	padding-bottom: 10px;

}
.menu-container h3{
	padding-bottom: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #f19317;
	text-transform: uppercase;
	
}
.menu_item{
	padding: 10px 10px 10px 0;

}
.menu-wrapper small{
	font-family: 'Oswald', sans-serif;
}
.menu-wrapper{
	margin-left: auto;
	margin-right: auto;
	/*background: url(../images/oliva.png) repeat;*/
}
.name{
	font-family: 'Oswald', sans-serif;
	color: #444;
	float: left;
	font-weight: normal;
	font-size: 20px;


}
.price{
	font-family: 'Oswald', sans-serif;
	color: #444;
	float: right;
	font-weight: lighter;
}

/*-----------------------------------------------------------------------------------*/
/*	CONTACT
/*-----------------------------------------------------------------------------------*/
.contact-container{
	background: url(../images/oliva.png) repeat;
	border-top: 5px solid #f19317;
}

.ca-menu{
    padding:0;
   	width: 369px;
   	float:right;
   	padding-right: 100px;
}
.ca-menu li{
    width: 120px;
    height: 110px;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 1px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0 !important;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-menu li span{
	padding-top: 20px;
}
.ca-icon{
    font-family: "proxima-nova", sans-serif;
    font-size: 28px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 60%;
}
.ca-main{
	font-family: "proxima-nova", sans-serif;
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-icon{
    color: #f19317;
    font-size: 40px;
}
.ca-menu li:hover .ca-main{
    color: green;
    font-size: 25px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}










/*


    -webkit-animation: moveFromLeftRotate 300ms ease;
    -moz-animation: moveFromLeftRotate 300ms ease;
    -ms-animation: moveFromLeftRotate 300ms ease;
@-webkit-keyframes moveFromLeftRotate{
    from {
        -webkit-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -webkit-transform: translateX(0%) rotate(0deg);
    }
}
@-moz-keyframes moveFromLeftRotate{
    from {
        -moz-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -moz-transform: translateX(0%) rotate(0deg);
    }
}
@-ms-keyframes moveFromLeftRotate{
    from {
        -ms-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -ms-transform: translateX(0%) rotate(0deg);
    }
}


*/



